@media screen and (max-width: 767px) {
  .profileInfo {
    margin-left: 28px;
  }
  .imgAndPlus button {
    width: 164px;
    margin-left: 73px;
  }
}
@media (min-width: 760px) and (max-width: 990px) {
  .SecondSec div {
    width: 85px;
  }
  .profileInfo {
    margin-left: 4px;
    width: 99.5%;
  }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .profileInfo {
    margin-left: 88px;
    width: 84.5%;
  }
}
